/* AboutMe.css */

.about-section {
    color: white;
    background: #121212;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .about-text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .about-text h2 {
    font-size: 2rem;
    color: #FF474C;
    margin-bottom: 1rem
  }
  
  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  @media (min-width: 768px) {
    .about-section .row {
      text-align: center;
    }
  
    .about-text, .about-image {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .about-text {
      padding-right: 1rem;
    }
  
    .about-image {
      padding-left: 1rem;
    }
  }  