.call-to-arms {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.call-to-arms .cta-box {
  padding: 2rem;
  border: 1px solid white;
  flex: 1;
  margin: 1rem;
  border-radius: 10px; /* Rounded corners for the boxes */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns content and button */
}

@media (max-width: 991px) {
  .call-to-arms .cta-box {
    margin-bottom: 1rem; /* Added margin for spacing on smaller screens */
  }
}

.call-to-arms .btn {
  border-color: white;
  font-size: 14px; /* Smaller font size for better mobile readability */
  align-self: center; /* Centers the button within the flex container */
}