/* FeaturedProjects.css */

.featured-projects-wrapper {
  width: 100%;
  padding: 40px;
  background: #121212;
  color: #FFF;
}

.project-header {
  text-align: center;
  margin-bottom: 20px;
}

.featured-projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  gap: 20px; /* Space between image and content */
}

.project-image {
  max-width: 100%;
  padding: 10px; /* Add some padding around the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  width: 100%;
  height: 250px; /* Set a larger fixed height for the images */
  object-fit: cover; /* Ensure images cover the defined space */
  display: block;
  border-radius: 10px;
}

.project-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content */
  text-align: center; /* Center text */
}

.project-content h3 {
  margin: 0;
  font-size: 1.5rem;
}

.project-content p {
  margin: 10px 0;
  padding: 0 20px; /* Add padding for better readability */
}

.project-technologies {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center; /* Center tags */
  margin-top: 10px;
  padding: 0 20px; /* Add padding for better readability */
}

.tag {
  background-color: #666;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.85rem;
}

button {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-image img {
    height: auto;
  }

  .project-content {
    align-items: center;
    text-align: center;
  }

  button {
    align-self: center; /* Center the button on smaller screens */
  }
}