.footer .navbar-text {
  color: #fff !important;
  padding-left: 1rem;
}

.footer a {
  color: #fff !important;
  text-decoration: none;
}

.footer {
  background-color: #000;
  border-top: 2px solid #fff;
  padding: 1rem 0;
}