/* Header.css */
.navbar {
  background-color: #000;
  border-bottom: 3px solid #ff4500;
  padding: 0 2rem;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-expand-lg > .container,
.navbar-expand-lg > .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.navbar-brand img {
  width: 60px;
  height: 60px;
  margin-right: 0.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-brand .brand-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-brand .brand-text:hover {
  color: #ff4500 !important;
  }

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  flex-grow: 1;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.navbar-social {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 0.75rem;
}

.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 50px;
}

.nav-link:hover {
  background-color: #ff4500;
  color: #fff !important;
  border-radius: 50px;
}

.nav-link.btn-outline-light {
  background-color: transparent;
  border: 3px solid #ff4500;
  border-radius: 50px;
  font-size: 0.8rem;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-link.btn-outline-light:hover,
.nav-link.btn-outline-light:focus,
.nav-link.btn-outline-light:active {
  background-color: #ff4500;
  border-color: #ff4500;
}

.nav-link.btn-outline-light.active {
  background-color: transparent;
  border-color: #ff4500;
}

.navbar-toggler {
  display: block;
  margin-left: auto;
  padding: 0.5rem 1rem;
  background-color: #ff4500;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .navbar-collapse {
    background-color: #000;
    border-top: 1px solid #fff;
    width: 100%;
  }

  .navbar-brand,
  .navbar-center,
  .navbar-social,
  .navbar-right {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar-brand {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .navbar-center {
    margin-bottom: 0.5rem;
  }

  .nav-item {
    padding: 8px 10px;
  }
}