.hero-section {
  color: white;
  background-color: #000; /* Consistent dark theme */
  margin: 0 auto;
  padding: 2rem; /* Uniform padding */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  flex-basis: 100%;
  max-width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center; /* Center alignment for text */
}

.hero-image {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image is properly scaled */
}

@media (min-width: 992px) {
  .hero-section {
    flex-direction: row; /* Side-by-side layout for larger screens */
    text-align: left; /* Text alignment for non-mobile views */
  }

  .hero-text, .hero-image {
    flex-basis: 50%;
    max-width: 50%;
  }

  .hero-text {
    padding-right: 1rem; /* Right padding for spacing between text and image */
  }

  .hero-image {
    padding-left: 1rem; /* Left padding for spacing */
  }
}
