.hero-section {
  color: white;
  background-color: #000;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  flex-basis: 100%;
  max-width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.hero-image {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    text-align: left;
  }

  .hero-text, .hero-image {
    flex-basis: 50%;
    max-width: 50%;
  }

  .hero-text {
    padding-right: 1rem;
  }

  .hero-image {
    padding-left: 1rem;
  }
}
