.hero-section {
  color: white;
  background-color: #000; /* Ensure the background color fits the overall theme */
  margin: 0 auto;
  padding: 2rem; /* Add padding around the section */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centers the text within the hero-text div */
}

.hero-text {
  flex-basis: 100%;
  max-width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.hero-image {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

@media (min-width: 992px) {
  .hero-section {
    flex-direction: row; /* Adjusts the direction of flex items on larger screens */
    text-align: left; /* Aligns text to the left on larger screens */
  }
  
  .hero-text, .hero-image {
    flex-basis: 50%;
    max-width: 50%;
  }

  .hero-text {
    padding-right: 1rem; /* Adds padding to separate the text from the image */
  }

  .hero-image {
    padding-left: 1rem; /* Adds padding to separate the image from the text */
  }
}
