/* TechStack.css */

.tech-stack {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #0A0A0A;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.tech-stack h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: bold;
}
.tech-stack h2::after{
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #FF474C;
  margin: 20px auto;
  margin-bottom: -5px;
}

.category-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.category {
  flex: 1;
  margin: 0 10px;
}

.category h3 {
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 5px;
  color: #61DAFB;
  text-align: center;
}

.tech-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
  border-radius: 10px;
  transition: transform 0.3s;
  width: 80px;
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tech-item:hover {
  transform: scale(1.05);
}

.tech-item svg {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.tech-item p {
  font-size: 0.7rem;
  margin: 0;
}

@media (max-width: 768px) {
  .category-row {
    flex-direction: column;
    align-items: center;
  }

  .tech-item {
    width: 70px;
    height: 70px;
  }

  .tech-item svg {
    width: 25px;
    height: 25px;
  }

  .tech-item p {
    font-size: 0.6rem;
  }
}